*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.background{
    background: url(../../pic/background-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    filter: grayscale(50%) blur(2px);
    background-attachment: fixed;
}

/* navbar */
/* navbar */
.navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    position: absolute;
    top: 1vh;
    left: 0;
    z-index: 999;
    position: fixed;
    background-color: rgba(79, 187, 250, 0.4);
    border-radius: 10px;
    margin: 0 5%;
}
.logo{
    top: 1vh;
    left: 4%;
    font-family: warzone;
    color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}
.logo:hover{
    background-color: #2d3038;
    color: orangered;
    transition: all 0.4s ease-in-out;
}
.list{
    position: relative;
    display: flex;
}
.list li{
    list-style: none;
    margin: 0 25px;
}
.list li a {
    font-family: warzone;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    position: relative;
    padding: 10px 8px;
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
}
.list li a:hover{
    background-color: #FFFFFF;
    color: #000;
}
.header nav .hamber{
    display: none;
}
.header nav.navbar-res{
    display:none;
}
/* content */
div.content{
    width: 100%;
    height: 100vh;
    background-color: #222121;
}
.img-content img{
    position: absolute;
    top: 125vh;
    left: 5%;
    width: 22%;
    border-radius: 10px;
}
/* content header  */
.content-header{
    width: 90%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid gray;
    position: absolute;
    top: 20%;
    left: 5%;
    border-radius: 10px;
    padding: 20px 20px;
}
div.content-header h1{
    color: #fff;
    font-family: custom2;
    font-weight: bold;
    font-size: 32px;
}
.content-header-text{
    color: #fff;
    font-family: warzone;
}
/* end content header */
.content-text{
    position: absolute;
    top: 125vh;
    left: 30%;
    width: 65%;
    height: 58vh;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid gray;
    padding: 10px 10px;
    color: aqua;
    font-family: custom2;
    font-size: 24px;
    border-radius: 8px;
}
/* footer */
.footer{
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.815);
    padding: 4vh 15px;
    text-align: center;
    font-family: custom2;
    font-size: 20px;
}
/* end footer */
@font-face {
    font-family: warzone;
    src: url(../../fonts/org/TTPines-Regular.ttf);
}
@font-face {
    font-family: custom2;
    src: url(../../fonts/org/TTPines-ThinItalic.ttf);
}